<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--扫描注解加载controller-->
    <context:component-scan base-package="controller"/>

    <!--加载注解适配器和注解映射器-->
    <mvc:annotation-driven validator="Validator">
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <!-- <mvc:resources mapping="/lib/**" location="/lib/"/>
     <mvc:resources mapping="/temp/**" location="/temp/"/>
     <mvc:resources mapping="/js/**" location="/js/"/>
     <mvc:resources mapping="/css/**" location="/css/"/>
     <mvc:resources mapping="/images/**" location="/images/"/>
     <mvc:resources mapping="/fonts/**" location="/fonts/"/>-->

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>

    <!--校验器-->
    <bean id="MessageSouse" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>ErrorMessage</value>
            </list>
        </property>
        <property name="cacheSeconds" value="120"/>
        <property name="fileEncodings" value="utf-8"/>
    </bean>
    <bean id="Validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <property name="validationMessageSource" ref="MessageSouse"/>
    </bean>
    <!--文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize">
            <value>5242880</value>
        </property>
    </bean>
    <!--   &lt;!&ndash;拦截器&ndash;&gt;
       <bean id="loginInterceptor" class="handlerInterceptor.LoginInterceptor"/>
       <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
           <property name="Interceptors">
           <list>
               <ref bean="loginInterceptor"/>
           </list>
       </property>
       </bean>-->

    <!--  <mvc:interceptors>
          &lt;!&ndash;多个拦截器,顺序执行 &ndash;&gt;
          <mvc:interceptor>
              <mvc:mapping path="/**"/>

              <mvc:exclude-mapping path="/*login*"/>
              <mvc:exclude-mapping path="/cart/*"/>
              <mvc:exclude-mapping path="/register*"/>
              <mvc:exclude-mapping path="/*welcome*"/>
              <mvc:exclude-mapping path="/*admin*"/>
              <mvc:exclude-mapping path="/*validator*"/>
              <mvc:exclude-mapping path="/HappyMall/*"/>
              <bean class="handlerInterceptor.LoginInterceptor"/>

          </mvc:interceptor>

      </mvc:interceptors>-->
</beans>